body {
  display: flex;
  justify-content: center;
}
.cube {
  position: relative;
  margin-top: 20px;
  border: thick solid #660;
  width: 579px;
  height: 500px;
  background-color: #280;
}
.dealerName {
  position: absolute;
  left: 20px;
  color: #9F9;
  font-size: large;
}

.card1{
  position: absolute;
  left: 50px;
  top: 50px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card2{
  position: absolute;
  left: 150px;
  top: 50px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card3{
  position: absolute;
  left: 250px;
  top: 50px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card4{
  position: absolute;
  left: 350px;
  top: 50px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card5{
  position: absolute;
  left: 450px;
  top: 50px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.youCards {
  position: absolute;
  left: 20px;
  top: 200px;
  color: #9F9;
  font-size: large;
}
.card6 {
  position: absolute;
  left: 50px;
  top: 250px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card7 {
  position: absolute;
  left: 150px;
  top: 250px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card8 {
  position: absolute;
  left: 250px;
  top: 250px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card9 {
  position: absolute;
  left: 350px;
  top: 250px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card10 {
  position: absolute;
  left: 450px;
  top: 250px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.card11 {
  position: absolute;
  left: 450px;
  top: 250px;
  border: 2px solid rgb(102, 102, 0);
  background-color: rgb(102, 102, 0);
  width: 79px;
  height: 123px;
  overflow: hidden;
}
.money {
  position: absolute;
  left: 20px;
  top: 400px;
  color: #9F9;
  font-size: large;
}
.bucks{
  position: absolute;
  left: 70px;
  top: 430px;
  color: yellow;
  font-size: x-large;
}
.betdiv {
  position: absolute;
  left: 300px;
  top: 425px;
  color: #9F9;
}

.input {
  width: 90px;
}
.button {
position: absolute;
bottom: 0;
margin-bottom: 400px;
}
  

